@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=DM+Serif+Display:ital@0;1&display=swap");
.mt-0 {
  margin-top: 0rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.p-0 {
  padding: 0 !important;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.text-discreet {
  color: #a3afbf;
}

.text-small {
  font-size: 0.8rem;
}
@media (max-width: 960px) {
  .text-small {
    font-size: 1rem;
  }
}

.text-large {
  font-size: 1.2rem;
}

.text-bold {
  font-weight: 700;
}

@media (max-width: 960px) {
  .hidden-responsive {
    display: none;
  }
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-12 {
  line-height: 1.2 !important;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  overscroll-behavior: contain;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #000000;
}
@media (max-width: 960px) {
  html,
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3 {
  color: #000000;
  margin-top: 0;
  font-family: "DM Serif Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
}
h1 span {
  background: linear-gradient(to bottom right, #00a1e4, #ff0066);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-weight: 700;
  color: #000000;
  font-size: 1rem;
}

h5 {
  background-color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
  padding: 0;
  margin: 0;
}

strong {
  color: #000000;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 700;
}

b {
  font-weight: 600;
}

p,
strong,
ul,
li,
div,
pre,
span,
q {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.8;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  color: rgba(0, 0, 0, 0.08);
  background-color: rgba(0, 0, 0, 0.08);
}
hr.spacer {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  border: none;
  height: 1px;
  color: transparent;
  background-color: transparent;
}
hr.spacer::before, hr.spacer::after {
  content: "";
  position: absolute;
  left: 50%;
  top: calc(50% - 4px);
  background-color: #e6eaf0;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  transform: translateY(-50%);
}
hr.spacer::before {
  left: calc(50% - 0.5rem);
}
hr.spacer::after {
  left: calc(50% + 0.5rem);
}

a {
  position: relative;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
}
a::after {
  transition: width 0.3s ease-out;
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  bottom: -0.25rem;
  background-color: #000000;
  width: 0;
  pointer-events: none;
}
a:hover::after {
  width: 100%;
}

ul {
  padding: 0 0 0 1.3rem;
  margin: 0 0 3rem 0;
}
ul li {
  margin-bottom: 0.5rem;
}
ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.horizontal li {
  margin: 0 0.5rem 0.5rem 0;
  padding: 2px 12px;
  border-radius: 300px;
  display: inline-block;
  font-size: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

nav {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 0 1rem;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1rem;
}
nav .menu a {
  font-size: 0.8rem;
  margin-left: 1rem;
  display: inline-block;
}
@media (max-width: 960px) {
  nav #desktop-menu {
    display: none;
  }
}
nav .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1rem;
  font-size: 0.8rem;
}
@media (max-width: 960px) {
  nav .logo-container {
    font-size: 1rem;
  }
}
nav .text {
  display: block;
  color: #000000;
  font-size: 1rem;
  width: auto;
}
nav .logo {
  transition: opacity 0.3s ease;
  font-size: 0;
  min-width: 18px;
}
nav .logo::after {
  display: none;
}
nav .logo:hover {
  opacity: 0.8;
}
nav .logo img {
  max-height: 24px;
}
nav #hamburger-button {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 3;
  display: none;
}
@media (max-width: 960px) {
  nav #hamburger-button {
    display: block;
  }
}
nav #hamburger-button a {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  padding: 0.25rem 0;
  width: min-content;
}
nav #hamburger-button a::after {
  transition: width 0.3s ease-out;
  content: "";
  position: absolute;
  height: 2px;
  bottom: 6px;
  background-color: #000000;
  width: 0;
}
nav #hamburger-button a.hidden-link {
  font-size: 1rem;
  width: 100%;
  padding: 0;
  font-weight: 400;
}
nav #hamburger-button a.hidden-link::after {
  display: none;
}
@media (min-width: 960px) {
  nav #hamburger-button a:hover::after {
    width: 100%;
  }
}
nav #hamburger-button input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  -webkit-touch-callout: none;
}
nav #hamburger-button input:checked ~ #menu-cover {
  opacity: 1;
}
nav #hamburger-button input:checked ~ .hamburger-icon > span {
  opacity: 0;
}
nav #hamburger-button input:checked ~ .hamburger-icon > span:first-child {
  transform: rotate(-45deg);
  opacity: 1;
  top: 0;
}
nav #hamburger-button input:checked ~ .hamburger-icon > span:last-child {
  transform: rotate(45deg);
  opacity: 1;
  left: 0;
}
nav #hamburger-button input:checked ~ #menu {
  transform: translateX(0%);
  box-shadow: 3px 0 20px 10px rgba(0, 0, 0, 0.1);
}
nav #hamburger-button .hamburger-icon {
  height: 100%;
  width: 100%;
}
nav #hamburger-button .hamburger-icon span {
  position: absolute;
  transform-origin: center center;
  transition: all 0.3s;
  background-color: #000000;
  height: 2px;
  width: 100%;
  border-radius: 300px;
  top: calc(50% - 2px);
}
nav #hamburger-button .hamburger-icon span:first-child {
  background: #000000;
  top: 3px;
  transform-origin: center right;
}
nav #hamburger-button .hamburger-icon span:last-child {
  background: #000000;
  top: auto;
  bottom: 5px;
  transform-origin: center right;
}
nav #menu-cover {
  position: fixed;
  transition: opacity 0.3s ease;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -2;
  pointer-events: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(3px);
}
nav #menu {
  transition: all 0.3s ease;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  width: 380px;
  height: 100vh;
  background-color: #ffffff;
  transform: translateX(100%);
  margin: 0;
  padding: 2rem 2rem 64px 2rem;
  list-style: none;
}
@media (max-width: 960px) {
  nav #menu {
    width: 90vw;
  }
}
nav #menu li {
  margin: 0;
  padding: 0;
}

q {
  font-family: "DM Serif Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  float: right;
  max-width: 45%;
  line-height: 1.4;
  font-size: 1.5rem;
  font-style: normal;
  padding: 0;
  margin: 0 0 1rem 1rem;
}
@media (max-width: 960px) {
  q {
    display: none;
  }
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 2rem 0;
  margin: 0 0 2rem 0;
  line-height: 1.5;
}
@media (max-width: 960px) {
  header {
    padding: 1rem 0;
  }
}
header img {
  max-width: 82px;
  border-radius: 100%;
  margin-bottom: 1rem;
}
header h1 {
  color: #000000;
  font-size: 5.4rem;
  font-weight: 200;
  line-height: 1;
}
@media (max-width: 960px) {
  header h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 640px) {
  header h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }
}
header p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 64px;
}
main section {
  position: relative;
  padding: 4rem 0 0 0;
  margin-bottom: 4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
main section:first-of-type {
  border-top: none;
  padding-top: 0;
}
main section > h2 {
  margin-top: 5rem;
}
main section .section-header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 2rem;
  margin-bottom: 4rem;
}
main section .section-header p {
  font-size: 1.2rem;
  margin-top: -0.5rem;
}
main section .section-header img {
  max-width: 140px;
  min-width: 140px;
  width: 140px;
  display: block;
  max-height: 70px;
}
@media (max-width: 960px) {
  main section .section-header {
    flex-flow: column nowrap;
    padding-top: 1rem;
  }
  main section .section-header img {
    margin-left: 0;
  }
}
main section img {
  min-width: 100%;
  max-width: 100%;
  font-size: 0;
  display: block;
  overflow: hidden;
  margin-bottom: 0.25rem;
}
main section .two-columns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 0.25rem;
}
main section article {
  position: relative;
  max-width: 100%;
  background-color: #ffffff;
  line-height: 1.75;
  margin: 0 0 4rem 9rem;
  padding: 1rem;
  margin-top: -8rem;
  min-height: 200px;
}
main section article h4 {
  position: relative;
  padding: 0;
  margin: 0;
}
main section article p {
  color: #000000;
}
@media (max-width: 960px) {
  main section article {
    padding: 1rem;
    margin: 0;
  }
}

pre {
  position: relative;
  white-space: normal;
  line-height: 1;
  display: inline-block;
  margin: 0 0 0.5rem 0;
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.pre-word {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 0;
}

.tag {
  font-size: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0.5rem 1rem 0.6rem 1rem;
  border-radius: 300px;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: #4d5b73;
}

.video {
  position: relative;
  padding: 0 0 56.25% 0;
  height: 0;
  max-width: 100%;
  top: 0;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.date {
  margin: 0;
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #778396;
  line-height: 1;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

blockquote {
  font-style: italic;
  margin: 0 0 3rem 0;
  padding: 0;
}
blockquote p {
  margin-bottom: 1rem;
}
blockquote span {
  font-style: normal;
  display: block;
  font-weight: 700;
}
blockquote span div {
  font-weight: 400;
  font-size: 0.8rem;
  color: #778396;
}

.signature {
  width: 160px;
  max-width: 160px;
  margin-top: 1rem;
  min-width: 0;
}
@media (max-width: 960px) {
  .signature {
    margin: 0;
  }
}

.animate {
  display: inline;
  animation: slidein 1.5s cubic-bezier(0.17, 0.67, 0.23, 1) forwards;
  opacity: 0;
}
.animate.delay-1 {
  animation-delay: 0.75s;
}
.animate.delay-2 {
  animation-delay: 1s;
}
.animate.delay-3 {
  animation-delay: 1.25s;
}
.animate.delay-4 {
  animation-delay: 1.5s;
}
@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.simpleParallax {
  margin: 0 0 0.25rem 0;
}
.simpleParallax img {
  margin-bottom: 0;
}

.sidebar {
  position: sticky;
  top: calc(64px + 2rem);
  font-size: 0.75rem;
  width: 260px;
  line-height: 1;
}
.sidebar .links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 0.25rem;
}
.sidebar .links a img {
  transition: opacity 0.3s ease;
  width: 24px;
  opacity: 0.2;
  border-radius: 3px;
}
.sidebar .links a img:hover {
  opacity: 1;
}
.sidebar .links a::after {
  display: none;
}
.sidebar .portrait {
  max-width: 80px;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.sidebar p {
  margin-bottom: 0;
}
.sidebar h5 {
  position: static;
  padding: 0;
  margin: 0;
  display: block;
  margin-bottom: 0.1rem;
}

.grid-row {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 2rem;
}
@media (max-width: 960px) {
  .grid-row {
    flex-flow: column nowrap;
  }
}
.grid-row .grid-cell {
  flex: 1 1 auto;
  width: 100%;
}
.grid-row .grid-cell.grid-min {
  width: min-content;
}

#blog {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-flow: row wrap;
  gap: 2rem;
}
@media (max-width: 960px) {
  #blog {
    flex-flow: column nowrap;
  }
}
#blog .blog-entry {
  flex: 1 1 33%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 2rem;
  min-height: 100%;
  max-width: calc(50% - 2rem);
}
@media (max-width: 960px) {
  #blog .blog-entry {
    max-width: 100%;
  }
}
#blog .blog-entry p {
  font-weight: 400;
}
#blog .blog-entry .fake-button {
  display: block;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  line-height: 1;
  padding: 2rem 2rem 0 2rem;
  margin: 0 -2rem;
  width: calc(100% + 4rem);
}

#blog-post p {
  font-size: 1.2rem;
  font-weight: 400;
}
#blog-post ul li {
  font-size: 1.2rem;
  font-weight: 400;
}
#blog-post h2 {
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#blog-post h3 {
  font-size: 1.4rem;
}
