@import url('//fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i,900,900i&display=swap');

html, body {
    font-family: Vollkorn, serif;
}

nav {
    width: 250px;
}

nav a {
    display: block;
}