---
---

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,400i,900&display=swap");
$primary-color: #8c0c3d;
$black: #222222;
$bg-color: #eeeeee;

html,
body {
  font-family: Vollkorn;
  font-size: 18px;
  color: $black;
  background-color: $bg-color;
}

a {
  color: $black;
  font-weight: normal;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

header {
  img {
    margin-bottom: 2rem;
    max-width: 60px;
    opacity: 0.8;
  }
  a {
    display: block;
    font-size: 0.8rem;
  }
}
