@function derive-rgb-values-from-hex($hex) {
  @return red($hex), green($hex), blue($hex);
}

$primary: #00a1e4;
$accent: #ff0066;
$contrast: #13404a;
$success: #60cd79;
$danger: #ea5252;

$font-family: 'Plus Jakarta Sans', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-bold: 'Plus Jakarta Sans', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-headings: 'DM Serif Display', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-numbers: $font-family;

$page-max-width: 960px;
$page-max-width-responsive: 600px;
$side-bar-width: 250px;
$responsive-width: 450px;
$navigation-height: 64px;
$navigation-menu-width: 280px;
$hamburger-size: 24px;

$white: #ffffff;
$gray1: #f7f9fc;
$gray2: #e6eaf0;
$gray3: #d3d9e0;
$gray4: #a3afbf;
$gray5: #778396;
$gray6: #4d5b73;
$black: #000000;

$font-light: 200;
$font-regular: 400;
$font-semi: 600;
$font-bold: 700;

$factor: 4px;
$border-radius: $factor;
$click-area: 40px;
$click-area-small: 32px;
$line: 1px solid rgba(black, 0.08);
$box-shadow: 0 5px 15px rgba(black, 0.1);

$font-size: 18px;
$font-size-small: 0.8rem;
$font-size-tiny: 0.7rem;
$font-size-responsive: 16px;
$font-size-button: $font-size;

$breakpoint-small: 640px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1200px;

$cubic-bezier-ease-out: cubic-bezier(.17, .67, .23, 1);