@use 'variables' as *;
@use 'utilities' as *;
// @use 'print-resume' as *;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=DM+Serif+Display:ital@0;1&display=swap');


* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  line-height: 1.6;
  overscroll-behavior: contain;
  // overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-size: $font-size;
  color: $black;

  @media (max-width: $breakpoint-medium) {
    font-size: $font-size-responsive;
  }
}

h1,
h2,
h3 {
  color: $black;
  margin-top: 0;
  font-family: $font-family-headings;
  font-weight: $font-light;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;

  span {
    background: linear-gradient(to bottom right, #{$primary}, #{$accent});
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h4 {
  font-weight: $font-bold;
  color: $black;
  font-size: 1rem;
}

h5 {
  background-color: $white;
  text-transform: uppercase;
  font-weight: $font-regular;
  letter-spacing: 0.2rem;
  padding: 0;
  margin: 0;
}

strong {
  color: $black;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: $font-bold;
}

b {
  font-weight: $font-semi;
}

p,
strong,
ul,
li,
div,
pre,
span,
q {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.8;
}

hr {
  width: 100%;
  border: none;
  height: 1px;
  color: rgba(black, 0.08);
  background-color: rgba(black, 0.08);

  &.spacer {
    position: relative;
    padding: 2rem 0;
    width: 100%;
    border: none;
    height: 1px;
    color: transparent;
    background-color: transparent;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: calc(50% - 4px);
      background-color: $gray2;
      height: 8px;
      width: 8px;
      border-radius: 100%;
      transform: translateY(-50%);
    }

    &::before {
      left: calc(50% - 0.5rem);
    }

    &::after {
      left: calc(50% + 0.5rem);
    }
  }
}

a {
  position: relative;
  text-decoration: none;
  color: $black;
  font-weight: $font-bold;
  cursor: pointer;

  &::after {
    transition: width 0.3s ease-out;
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    bottom: -0.25rem;
    background-color: $black;
    width: 0;
    pointer-events: none;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

ul {
  padding: 0 0 0 1.3rem;
  margin: 0 0 3rem 0;

  li {
    margin-bottom: 0.5rem;
  }

  &.horizontal {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0.5rem 0.5rem 0;
      padding: 2px 12px;
      border-radius: 300px;
      display: inline-block;
      font-size: 0.75rem;
      border: $line;
    }
  }
}

nav {
  background-color: $white;
  border-bottom: $line;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $navigation-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 0 1rem;
  text-rendering: optimizeLegibility;
  text-decoration: none;

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 1rem;

    a {
      font-size: 0.8rem;
      margin-left: 1rem;
      display: inline-block;
    }
  }

  #desktop-menu {
    @media (max-width: $breakpoint-medium) {
      display: none;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 1rem;
    font-size: 0.8rem;

    @media (max-width: $breakpoint-medium) {
      font-size: 1rem;
    }
  }

  .text {
    display: block;
    color: $black;
    font-size: 1rem;
    width: auto;
  }

  .logo {
    transition: opacity 0.3s ease;
    font-size: 0;
    min-width: 18px;

    &::after {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }

    img {
      max-height: 24px;
    }
  }

  #hamburger-button {
    width: $hamburger-size;
    height: $hamburger-size;
    position: relative;
    z-index: 3;
    display: none;

    @media (max-width: $breakpoint-medium) {
      display: block;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: 1.25rem;
      color: $black;
      text-decoration: none;
      font-weight: $font-bold;
      padding: 0.25rem 0;
      width: min-content;

      &::after {
        transition: width 0.3s ease-out;
        content: '';
        position: absolute;
        height: 2px;
        bottom: 6px;
        background-color: $black;
        width: 0;
      }

      &.hidden-link {
        font-size: 1rem;
        width: 100%;
        padding: 0;
        font-weight: $font-regular;

        &::after {
          display: none;
        }
      }

      @media (min-width: $breakpoint-medium) {
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    input {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 1;
      -webkit-touch-callout: none;

      &:checked {
        &~#menu-cover {
          opacity: 1;
        }

        &~.hamburger-icon>span {
          opacity: 0;

          &:first-child {
            transform: rotate(-45deg);
            opacity: 1;
            top: 0;
          }

          &:last-child {
            transform: rotate(45deg);
            opacity: 1;
            left: 0;
          }
        }

        &~#menu {
          transform: translateX(0%);
          box-shadow: 3px 0 20px 10px rgba(black, 0.1);
        }
      }
    }

    .hamburger-icon {
      height: 100%;
      width: 100%;

      span {
        position: absolute;
        transform-origin: center center;
        transition: all 0.3s;
        background-color: $black;
        height: 2px;
        width: 100%;
        border-radius: 300px;
        top: calc(50% - 2px);

        &:first-child {
          background: $black;
          top: 3px;
          transform-origin: center right;
        }

        &:last-child {
          background: $black;
          top: auto;
          bottom: 5px;
          transform-origin: center right;
        }
      }
    }
  }

  #menu-cover {
    position: fixed;
    transition: opacity 0.3s ease;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(white, 0.5);
    z-index: -2;
    pointer-events: none;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(3px);
  }

  #menu {
    transition: all 0.3s ease;
    box-shadow: 0 0 0 0 rgba(black, 0);
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    width: 380px;
    height: 100vh;
    background-color: $white;
    transform: translateX(100%);
    margin: 0;
    padding: 2rem 2rem $navigation-height 2rem;
    list-style: none;

    @media (max-width: $breakpoint-medium) {
      width: 90vw;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }
}

q {
  font-family: $font-family-headings;
  float: right;
  max-width: 45%;
  line-height: 1.4;
  font-size: 1.5rem;
  font-style: normal;
  padding: 0;
  margin: 0 0 1rem 1rem;

  @media (max-width: $breakpoint-medium) {
    display: none;
  }
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 2rem 0;
  margin: 0 0 2rem 0;
  line-height: 1.5;

  @media (max-width: $breakpoint-medium) {
    padding: 1rem 0;
  }

  img {
    max-width: 82px;
    border-radius: 100%;
    margin-bottom: 1rem;
  }

  h1 {
    color: $black;
    font-size: 5.4rem;
    font-weight: $font-light;
    line-height: 1;

    @media (max-width: $breakpoint-medium) {
      font-size: 6rem;
      margin-bottom: 1rem;
    }

    @media (max-width: $breakpoint-small) {
      font-size: 2.8rem;
      margin-bottom: 1rem;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 3rem;
  }
}

main {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 1rem;
  // margin-top: calc(#{$navigation-height} + 1rem);
  margin-top: $navigation-height;

  section {
    position: relative;
    padding: 4rem 0 0 0;
    margin-bottom: 4rem;
    border-top: $line;

    &:first-of-type {
      border-top: none;
      padding-top: 0;
    }

    &>h2 {
      margin-top: 5rem;
    }

    .section-header {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-flow: row nowrap;
      gap: 2rem;
      margin-bottom: 4rem;

      p {
        font-size: 1.2rem;
        margin-top: -0.5rem;
      }

      img {
        max-width: 140px;
        min-width: 140px;
        width: 140px;
        display: block;
        max-height: 70px;
      }

      @media (max-width: $breakpoint-medium) {
        flex-flow: column nowrap;
        padding-top: 1rem;

        img {
          margin-left: 0;
        }
      }
    }

    img {
      min-width: 100%;
      max-width: 100%;
      font-size: 0;
      display: block;
      overflow: hidden;
      margin-bottom: 0.25rem;
    }

    .two-columns {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row nowrap;
      gap: 0.25rem;
    }

    article {
      position: relative;
      max-width: 100%;
      background-color: $white;
      line-height: 1.75;
      margin: 0 0 4rem 9rem;
      padding: 1rem;
      margin-top: -8rem;
      min-height: 200px;

      h4 {
        position: relative;
        padding: 0;
        margin: 0;
      }

      p {
        color: $black;
      }

      @media (max-width: $breakpoint-medium) {
        padding: 1rem;
        margin: 0;
      }
    }
  }
}

pre {
  position: relative;
  white-space: normal;
  line-height: 1;
  display: inline-block;
  margin: 0 0 0.5rem 0;
  font-family: $font-family;
  font-weight: $font-bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.pre-word {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 0;
}

// .company-logos {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   flex-flow: row nowrap;
//   gap: 2rem;
//   max-width: $page-max-width;

//   img {
//     width: 120px;
//     min-width: 0;
//     opacity: 0.15;
//   }
// }

.tag {
  font-size: 0.8rem;
  border: $line;
  padding: 0.5rem 1rem 0.6rem 1rem;
  border-radius: 300px;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: $gray6;
}

.video {
  position: relative;
  padding: 0 0 56.25% 0;
  height: 0;
  max-width: 100%;
  top: 0;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.date {
  margin: 0;
  font-family: $font-family;
  font-weight: $font-semi;
  text-transform: uppercase;
  font-size: $font-size-tiny;
  color: $gray5;
  line-height: 1;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

blockquote {
  font-style: italic;
  margin: 0 0 3rem 0;
  padding: 0;

  p {
    margin-bottom: 1rem;
  }

  span {
    font-style: normal;
    display: block;
    font-weight: $font-bold;

    div {
      font-weight: $font-regular;
      font-size: 0.8rem;
      color: $gray5;
    }
  }
}

.signature {
  width: 160px;
  max-width: 160px;
  margin-top: 1rem;
  min-width: 0;

  @media (max-width: $breakpoint-medium) {
    margin: 0;
  }
}

.animate {
  display: inline;
  animation: slidein 1.5s $cubic-bezier-ease-out forwards;
  opacity: 0;

  &.delay-1 {
    animation-delay: 0.75s;
  }

  &.delay-2 {
    animation-delay: 1s;
  }

  &.delay-3 {
    animation-delay: 1.25s;
  }

  &.delay-4 {
    animation-delay: 1.5s;
  }

  @keyframes slidein {
    from {
      opacity: 0;
      // transform: translateY(1rem) translate3d(0, 0, 0);
    }

    to {
      opacity: 1;
      // transform: translateY(0) translate3d(0, 0, 0);
    }
  }
}

.simpleParallax {
  margin: 0 0 0.25rem 0;

  img {
    margin-bottom: 0;
  }
}

.sidebar {
  position: sticky;
  top: calc(#{$navigation-height} + 2rem);
  font-size: $font-size-small;
  width: 260px;
  line-height: 1;

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    gap: 0.25rem;

    a {
      img {
        transition: opacity 0.3s ease;
        width: 24px;
        opacity: 0.2;
        border-radius: 3px;

        &:hover {
          opacity: 1;
        }
      }

      &::after {
        display: none;
      }
    }
  }

  .portrait {
    max-width: 80px;
    border-radius: 100%;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 0;
  }

  h5 {
    position: static;
    padding: 0;
    margin: 0;
    display: block;
    margin-bottom: 0.1rem;
  }
}

.grid-row {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 2rem;

  @media (max-width: $breakpoint-medium) {
    flex-flow: column nowrap;
  }

  .grid-cell {
    flex: 1 1 auto;
    width: 100%;

    &.grid-min {
      width: min-content;
    }
  }
}

#blog {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-flow: row wrap;
  gap: 2rem;

  @media (max-width: $breakpoint-medium) {
    flex-flow: column nowrap;
  }

  .blog-entry {
    flex: 1 1 33%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: column nowrap;
    gap: 1rem;
    border: $line;
    padding: 2rem;
    min-height: 100%;
    max-width: calc(50% - 2rem);

    @media (max-width: $breakpoint-medium) {
      max-width: 100%;
    }

    p {
      font-weight: $font-regular;
    }

    .fake-button {
      display: block;
      width: 100%;
      border-top: $line;
      line-height: 1;
      padding: 2rem 2rem 0 2rem;
      margin: 0 -2rem;
      width: calc(100% + 4rem);
    }
  }
}

#blog-post {

  p {
    font-size: 1.2rem;
    font-weight: $font-regular;
  }

  h2 {
    font-size: 2rem;
  }
}