@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
em,
a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin-top: 0;
}

body {
  font-family: "Crimson Text", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 22px;
  color: #333;
  background-color: #fff;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 2rem;
  padding: 3rem 1rem;
  max-width: 960px;
  margin: 0 auto;
}
@media (max-width: 650px) {
  .wrapper {
    flex-flow: column nowrap;
    align-items: flex-start;
  }
}

aside {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 0.25rem;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  width: 240px;
  min-width: 240px;
  font-size: 16px;
  line-height: 1.2;
  padding: 0.5rem 2rem;
  min-height: 100vh;
}
@media (max-width: 650px) {
  aside {
    min-height: 0;
    border-right: none;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}
aside .social-link:hover {
  text-decoration: underline;
}
@media (max-width: 650px) {
  aside .social-link {
    display: none;
  }
}
aside .logo {
  transition: opacity 0.3s ease-out;
  max-width: 80px;
  width: 80px;
  margin-bottom: 2rem;
}
aside .logo:hover {
  opacity: 0.8;
}
@media (max-width: 650px) {
  aside p {
    display: none;
  }
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 0;
}
main .spotlight {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: outline-width 0.2s linear;
  outline-width: 0;
  outline-offset: 1px;
}
main .spotlight:hover {
  outline: 3px solid #333;
}
@media (max-width: 650px) {
  main .spotlight {
    display: none;
  }
}
main .spotlight div {
  transition: all 0.3 ease-out;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  max-width: 70%;
  padding: 1rem;
}
main .spotlight div h3 {
  font-size: 3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.5rem;
}
main .spotlight div p {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}
main .spotlight img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 320px;
  object-fit: cover;
}
main .post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 2rem;
  font-size: 16px;
  line-height: 1.4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
@media (max-width: 650px) {
  main .post {
    gap: 1rem;
  }
}
main .post:hover {
  color: #000;
}
main .post:hover img {
  opacity: 0.8;
}
main .post:hover p {
  color: #000;
}
main .post div {
  width: 100%;
}
main .post h3 {
  font-size: 1.2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.25rem;
  font-weight: 400;
}
@media (max-width: 650px) {
  main .post h3 {
    font-size: 1rem;
  }
}
main .post img {
  transition: all 0.3s ease;
  width: 100%;
  max-width: 180px;
  object-fit: cover;
  aspect-ratio: 12/9;
}
@media (max-width: 650px) {
  main .post img {
    max-width: 80px;
    aspect-ratio: 9/12;
  }
}
main .post p {
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #555;
}
@media (max-width: 650px) {
  main .post p {
    -webkit-line-clamp: 2;
  }
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4.3rem;
  line-height: 1.1;
  font-weight: 200;
}
@media (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media (max-width: 650px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  margin-bottom: 0;
}

a {
  color: #333;
  text-decoration: none;
}

article {
  padding-bottom: 2rem;
}
article .video {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 369px;
  cursor: pointer;
  transition: outline-width 0.2s linear;
  outline-width: 0;
  outline-offset: 1px;
  margin: 0 -2rem 2rem -2rem;
  width: calc(100% + 2rem);
}
article .video:hover {
  outline: 3px solid #333;
}
article .video:after {
  content: "";
  background-image: url(/assets/images/icon-play.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  height: 150px;
  width: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
article .video img {
  width: 100%;
  object-fit: cover;
}

hr {
  border: none;
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.promo {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;
}
.promo a {
  text-decoration: underline;
}
