@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$contrast: #0D1A24;
$primary: #00E3C2;
$font-size: 16px;
$border-radius: 8px;
$max-width: 960px;
$line: 1px solid rgba(white, 0.05);

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Plus Jakarta Sans';
    font-weight: 200;
    color: white;
    background-color: $contrast;
    line-height: 1.7;
}

main {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 3rem;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    width: 100%;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
}

iframe {
    border-radius: $border-radius;
    min-width: 100%;
    position: relative;
    width: 100%;
    height: 42%;
}

.entry {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 1rem;

    p {
        font-weight: 400;
        font-size: 1.25rem;
        color: white;
    }

    .thumbnail {
        position: relative;

        &::after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            content: "";
            background-color: rgba(black, 0.2);
            backdrop-filter: blur(3px);
            border-radius: $border-radius;

        }

        .icon-play {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 64px;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        img {
            max-width: 180px;
            border-radius: $border-radius;
            position: relative;
            z-index: 0;

        }

    }

}

a {
    color: $primary;
    text-decoration: none;
}


.sidebar {
    max-width: 220px;
    border-right: $line;
    padding-right: 3rem;
    width: 100%;
    min-height: calc(100vh - 4rem);
    font-size: 0.85rem;
    line-height: 1.7;

    img {
        margin-bottom: 2rem;
    }

    a {
        display: block;
    }
}

.content {
    width: 100%;

    // img {
    //     width: 100%;
    //     max-width: 250px;
    //     margin-bottom: 2rem;

    //     @media only screen and (max-width: 600px) {
    //         max-width: 560px;
    //     }
    // }
}