@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: white;
  background-color: #0D1A24;
  line-height: 1.7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 3rem;
}

main {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 3rem;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
}

iframe {
  border-radius: 32px;
  position: relative;
  margin-bottom: 1.5rem;
}

a {
  color: #00E3C2;
  text-decoration: none;
}

.logo {
  max-width: 140px;
}

.links {
  margin-bottom: 3rem;
  text-align: center;
}
