@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


$background: #fff;
$black: #333;
$deep-black: #000;
$discreet: #555;
$font-size: 22px;
$font-size-small: 16px;
$border-radius: 4px;
$max-width: 960px;
$line: 1px solid rgba(black, 0.08);
$font-family-body: 'Crimson Text', 'Times New Roman', Times, serif;
$font-family-heading: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$breakpoint: 650px;

* {
    box-sizing: border-box;
}

html,
body {
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
em,
a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin-top: 0;
}

body {
    font-family: $font-family-body;
    font-weight: 400;
    font-size: $font-size;
    color: $black;
    background-color: $background;
    line-height: 1.5;

}

.wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-flow: row nowrap;
    gap: 2rem;
    padding: 3rem 1rem;
    max-width: $max-width;
    margin: 0 auto;

    @media (max-width: $breakpoint) {
        flex-flow: column nowrap;
        align-items: flex-start;
    }
}

aside {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    gap: 0.25rem;
    border-right: $line;
    width: 240px;
    min-width: 240px;
    font-size: $font-size-small;
    line-height: 1.2;
    padding: 0.5rem 2rem;
    min-height: 100vh;

    @media (max-width: $breakpoint) {
        min-height: 0;
        border-right: none;
        align-items: center;
        width: 100%;
        border-bottom: $line;
    }

    .social-link {
        &:hover {
            text-decoration: underline;
        }

        @media (max-width: $breakpoint) {
            display: none;
        }
    }

    .logo {
        transition: opacity 0.3s ease-out;
        max-width: 80px;
        width: 80px;
        margin-bottom: 2rem;

        &:hover {
            opacity: 0.8;
        }
    }

    p {
        @media (max-width: $breakpoint) {
            display: none;
        }
    }
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    gap: 0;

    .spotlight {
        position: relative;
        width: 100%;
        height: 320px;
        overflow: hidden;
        margin-bottom: 2rem;
        transition: outline-width 0.2s linear;
        outline-width: 0;
        outline-offset: 1px;

        &:hover {
            outline: 3px solid $black;
        }

        @media (max-width: $breakpoint) {
            display: none;
        }

        div {
            transition: all 0.3 ease-out;
            position: absolute;
            left: 0;
            bottom: 0;
            color: $background;
            max-width: 70%;
            padding: 1rem;

            h3 {
                font-size: 3rem;
                font-family: $font-family-heading;
                font-weight: 300;
                line-height: 1;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: $font-size-small;
                line-height: 1.4;
                margin: 0;
            }

        }

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 320px;
            object-fit: cover;


        }
    }


    .post {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row nowrap;
        gap: 2rem;
        font-size: $font-size-small;
        line-height: 1.4;
        border-bottom: $line;

        @media (max-width: $breakpoint) {
            gap: 1rem;
        }

        &:hover {
            color: $deep-black;

            img {
                opacity: 0.8;
            }

            p {
                color: $deep-black;

            }
        }

        div {
            width: 100%;
        }

        h3 {
            font-size: 1.2rem;
            font-family: $font-family-heading;
            margin-bottom: 0.25rem;
            font-weight: 400;

            @media (max-width: $breakpoint) {
                font-size: 1rem;
            }
        }

        img {
            transition: all 0.3s ease;
            width: 100%;
            max-width: 180px;
            object-fit: cover;
            aspect-ratio: 12 / 9;

            @media (max-width: $breakpoint) {
                max-width: 80px;
                aspect-ratio: 9 / 12;
            }
        }

        p {
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: $discreet;

            @media (max-width: $breakpoint) {
                -webkit-line-clamp: 2;
            }
        }
    }
}

h1 {
    font-family: $font-family-heading;
    font-size: 4.3rem;
    line-height: 1.1;
    font-weight: 200;

    @media (max-width: $breakpoint) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 400;
    padding-bottom: 1rem;

    @media (max-width: $breakpoint) {
        font-size: 1.5rem;
    }
}

h3 {
    margin-bottom: 0;
}

a {
    color: $black;
    text-decoration: none;
}

article {
    padding-bottom: 2rem;

    .video {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        max-height: 369px;
        cursor: pointer;
        transition: outline-width 0.2s linear;
        outline-width: 0;
        outline-offset: 1px;
        margin: 0 -2rem 2rem -2rem;
        width: calc(100% + 2rem);

        &:hover {
            outline: 3px solid $black;
        }

        &:after {
            content: '';
            background-image: url(/assets/images/icon-play.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            position: absolute;
            height: 150px;
            width: 150px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

hr {
    border: none;
    display: block;
    width: 100%;
    height: 1px;
    border-top: $line;
}

.promo {
    border-top: $line;
    padding: 2rem 0;
    border-bottom: $line;
    margin-bottom: 2rem;

    a {
        text-decoration: underline;
    }
}