@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$contrast: #10081b;
$primary: #00E3C2;
$font-size: 16px;
$border-radius: 8px;
$max-width: 960px;
$line: 1px solid rgba(white, 0.05);

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: white;
    background-color: $contrast;
    line-height: 1.7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 3rem 1rem;
    max-width: 600px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 1rem;

    p {
        text-align: center;
    }
}

main {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 3rem;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    width: 100%;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
}

iframe {
    border-radius: $border-radius * 2;
    position: relative;
    max-width: 100%;
}

a {
    color: $primary;
    text-decoration: none;
}


.logo {
    max-width: 140px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 0.25rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.5rem;

    i {
        padding: 0.5rem;

        &:hover {
            background-color: rgba(black, 0.5);
            border-radius: 300px;
        }
    }
}

.post {
    transition: all 0.3s ease-out;
    background-color: rgba(black, 0.4);
    border-radius: $border-radius * 4;
    padding: 3rem;
    width: 100%;
    max-width: 600px;
    margin-bottom: 1rem;
    will-change: transform;

    @media (max-width: 600px) {
        padding: 1rem;
        border-radius: $border-radius * 3;
    }

    &:hover {
        background-color: $primary;
        transform: scale(102%);
        box-shadow: 0 16px 40px rgba($primary, 0.3);
        z-index: 9999;

        h3,
        p {
            color: $contrast;
        }
    }

    h3 {
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.25rem;
        color: white;
        text-decoration: none;
        width: 100%;
        margin-top: 0;
    }

    .video {
        position: relative;

        img {
            margin-top: 1rem;
            max-width: 100%;
            border-radius: $border-radius * 3;
        }

        .ti {
            transition: all 0.2s ease-out;
            color: white;
            font-size: 4rem;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }
    }
}