@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin-top: 0;
}

body {
  font-family: "Crimson Text", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 21px;
  color: #363737;
  background-color: #fff;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 2rem;
  padding: 3rem 1rem;
  max-width: 850px;
  margin: 0 auto;
}

aside {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 0.25rem;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  min-width: 140px;
  font-size: 17px;
  line-height: 1.2;
  padding: 0.5rem;
}
aside a:hover {
  text-decoration: underline;
}
aside .logo {
  max-width: 80px;
  width: 80px;
  margin-bottom: 2rem;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 0;
}
main .post {
  width: 100%;
  transition: background-color 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 1rem;
  font-size: 17px;
  padding: 0.5rem;
}
main .post:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 7.5px;
}
main .post h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
}
main .post img {
  max-width: 200px;
  border-radius: 5px;
}
main .post p {
  margin-bottom: 0;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4.3rem;
  line-height: 1;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
  padding-bottom: 1rem;
}

h3 {
  margin-bottom: 0;
}

a {
  color: #363737;
  text-decoration: none;
}

article {
  padding-bottom: 2rem;
}

hr {
  border: none;
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #ddd;
}
